h1{
    color: aqua;
}
body{
    background-image: url(/Sources/ruwQMHRaKqdQUR4STZKjqF.jpg);
}
#div1{
    height: 120px;
    width: 200px;
    background-color: green;
    position: relative;
    bottom: 1;
    left: 0;
    top: 0;
    right: 0;
    
    margin: auto;
}
#div3{
    height: 60px;
    width: 60px;
    background-color: red;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 47%;
    margin-right: 50%;
    margin-top: 7%;
    margin-bottom: 10%;
    border-radius: 100px;
}
p{
    color: aqua;
}
h1{
    position: sticky;
    top: 0;
}
#div2{
    position: fixed;
    color: chartreuse;
    bottom: 0;
    right: 0;
    
}
#upc{
    width: 200px;
    float: right;
}
#p1{
    clear: left;
}
#box1{
    height: 130px;
    width: 130px;
    background-color: aqua;
    float: left;
}
#box2{
    height: 130px;
    width: 130px;
    background-color: blue;
    float: left;
}
#box3{
    height: 130px;
    width: 130px;
    background-color:red ;
    float: left;
}
#box4{
    height: 130px;
    width: 130px;
    background-color: green;
    float: left;
    
}
#a1{
    color: aqua;

}
#a1:hover{
    color: black;
}
h3:nth-child(2){
    color: red;
    
}